<link rel="stylesheet" href="/css/styles.css">
<div id="heading">Welcome to Download Page</div>
<div id="btn">
<button><a href="<%=download%>">Download</a></button>
</div>
<div id="size">File-Size:<%=Math.round(filesize/1000)%>KB</div>



